
  
  .search-box {
   padding: 2rem;
   font-size: 2rem;
   display: block;
   border: 1px solid #000;
   border-radius: 30px;
  }

  @media screen and (max-width: 648px) {
   .search-box {
     width: 100%;
     font-size: 20px;
     padding: 1.5rem;
    
   } 
  }